
JI.xcodeproj/project.xcworkspace/xcshareddata/JI.xccheckout

JI.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate

JI.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/JI.xcscheme

JI.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
